<div class="container-fluid center">
	<div class="row">
		<h1>who we are</h1>
		<div class="col-lg-3 center">
			<img src="..." class="img-circle">
			<h3>margot bloch</h3>
			<h4>@margotbloch</h4>
			<br>
			<p class="center">margot is the brains beyond the operation.  having lived and worked in all four corners of the country, she settled in san francisco where she has five years in restaurant management experience.
			<br>
			<br>
			accelerEat was her brainchild.  she conceived of the idea as an application of the sexy incubator model spreading like wildfire across silicon valley. 
		</div>
		<div class="col-lg-3 center">
			<h3>jake richardson</h3>
			<h4>@jhrichardson5</h4> 
			<br>
			<p>jake is a jack of most trades, but most notably, he is the face of the organization. he uses he dabbles in the companies legal affairs, but tries to stick to being 'the face guy.'</p>
		</div>
		<div class="col-lg-3 center">
			<h3>matt gierl</h3>
			<h4>@msgierl</h4>
			<br>
			<p>matt is a part of the founding team, but only minimally.  he hails from the center of the country with a background in strategy and operations consulting, and then later as a marketing guru. 
			<br>
			<br>
			he works on growth hacking for accelerEat.  or at least he tells us that he does. 

		</div>
		<div class="col-lg-3 center">
			<h3>max mauro</h3>
			<h4>@mmauro</h4>
			<br> 
			<p>max is the team role-player.  he worked on a trading desk and helped usher the american economy into the great recession.  we're just glad he's on our team. 
		</div>
	</div>	

</div>
