<div class="content-section-a container">
	<h1>what we're looking for</h1>
	<p>starting a food truck is no small task, we get that. we're looking for cooks out there who get that too.
		<div class="row">	
			<div class="col-lg-3">
				<h2>can you cook?</h2>
				<p>of course, we want to know if you have the culinary chops. we are looking for chefs or senior suos chefs to apply to this program. not there yet? cut your teeth for a little longer, and we'll be waiting when you're done. 
			</div>
			<div class="col-lg-4">
				<h2>blood, sweat and tears</h2>
				<p>starting a business is tough, we know. we want chefs who are going to put in the time and the elbow grease to get into the black.  
				<p>we're invested in your success, we want you to be invested in ours. that means being flexible, reasonable, and i times, a little outside the box. 