<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6", style: "padding-bottom: 20px;">
        <h1 class="section-heading">bring it entree</h1>
        <p>
          accelerEAT is an incubator and accelerator for aspiring chefs and restauranteurs.
        </p>
        <%= link_to "what we do", about_path, class:"btn btn-primary center" %>
      </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6">     
    <%= image_tag "TopHalf.png", class: 'img-responsive', style: 'max-height: 540px; padding-top: 20px;' %>
    </div>
  </div>
</div>
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">      <%= image_tag "BottomHalf1.png", class: 'img-responsive', style: 'max-height: 540px; padding-top: px;' %>
    </div>
    </div>
  </div>
</div>