<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<p>Made in California</p>
			</div>

			<div class="col-lg-2 pull-right">
				<p>&#169 accelerEAT 2014</p>
			</div>	
</div>